<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Authentification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Please authenticate before taking the test!</h1>
<form action="#" th:action="@{/multiple_choice_test}" th:object="${request_data}" method="post">
    <label for="email_field">Email:</label>
    <input type="text" id="email_field" name="email_field" placeholder="Enter email..." th:field="*{email}" />
    <label for="hashcode">Hashcode:</label>
    <input type="text" id="hashcode" name="hashcode" placeholder="Enter hashcode..." th:field="*{hashCode}"/>
    <button type="submit" name="submit">Submit</button>
</form>
</body>
</html>